ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=taskmanager;Username=taskmanager;Password=taskmanager_dev
Jwt__Key=TaskManagerSuperSecretKey_ChangeInProduction_AtLeast32Chars!
Jwt__Issuer=TaskManager.API
Jwt__Audience=TaskManager.Client
Jwt__ExpirationInMinutes=60
RabbitMQ__HostName=rabbitmq
RabbitMQ__Port=5672
RabbitMQ__UserName=guest
RabbitMQ__Password=guest
RabbitMQ__Exchange=task-events
